<%- include('partials/header') %>

<body>
   <!-- partial:index.partial.html -->
   <div class="container">
      <div class="file-upload">
         <label id="file-upload__label">Select or drop files here</label>
         <input class="file-upload__input" type="file" name="files" id="files" onchange="upload()" />
      </div>
   </div>
   <!-- partial -->
   <script src="./assets/js/script.js"></script>
</body>

</html>