<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title><%- title %></title>
   <link rel="stylesheet" href="/assets/css/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   <link rel="canonical" href="<%- process.env.WEBSITE %>" />
   <meta property="og:description" content="All uploaded files are automatically deleted after 60 minutes." />
   <meta property="og:image" content="/assets/image/logo.jpg" />
   <meta name="keywords" content="temp uploader, temp files, file hosting">
   <meta name="description" content="All uploaded files are automatically deleted after 60 minutes.">
   <meta name="author" content="Wildan Izzudin">
   <meta name="copyright" content="Copyright &copy; Neoxr Network. All Rights Reserved." />
</head>