<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Temporary File Hosting</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300">
   <link rel="stylesheet" href="./assets/css/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
